name: Tests on macOS

on: [push, pull_request]

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Install
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          brew update
          brew install p7zip
          brew install rar
          brew install ghostscript
          brew install imagemagick
        shell: bash

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          extensions: imagick, zip, fileinfo, intl
          coverage: pcov

      - name: Add rar extension
        run: |
          git clone https://github.com/cataphract/php-rar
          cd php-rar
          phpize
          ./configure
          sudo make
          sudo make install
          pecl_path=$(pecl config-get ext_dir)
          phpini_path=$(php -i | grep /.+/php.ini -oE)
          sudo cp ./modules/rar.so $pecl_path
          sudo echo "extension=rar.so" > $phpini_path

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        run: composer update --prefer-dist --no-interaction

      - name: Check extension rar
        run: php -m | grep rar

      - name: Check extension imagick
        run: php -m | grep imagick

      - name: Execute tests
        run: vendor/bin/pest
